::-webkit-scrollbar-track {
  border-radius: 100px;
  background: transparent;
}
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

img {
  max-width: 100%;
  width: auto;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}

@tailwind base;
@tailwind components;

html,
body {
  @apply scroll-smooth overflow-x-hidden;
}
h1,
.h1 {
  @apply text-4xl md:text-5xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
}
h2 {
  @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl;
}
h3 {
  @apply text-2xl lg:text-3xl;
}
h4 {
  @apply text-xl lg:text-26;
}
h5 {
  @apply text-base md:text-lg lg:text-22;
}
h6 {
  @apply text-sm md:text-lg lg:text-lg;
}
p {
  @apply text-sm lg:text-base 2xl:text-lg md:leading-6 lg:leading-6 2xl:leading-8;
}

.anim {
  @apply transition-all duration-300;
}

@tailwind utilities;
